* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

.StoryBox{
    width: 100%;
    height: 80vh;
    background-color: lightseagreen;
    display: flex;
    align-items: flex-end;
}

.StoryBox ul {
    list-style-type: none;
}

.StoryBox li {
    margin-left: 2vw;
    font-size: 24pt;
}

#text {
    margin-left: 2vw;
}

.PlayBox{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PlayBox button{
    margin: 10px;
    width: 80px;
    height: 50px;
}

#fight{
    background-color: red;
    border: none;
    border-radius: 5px;
}

#move{
    background-color: lime;
    border: none;
    border-radius: 5px;
}