* {
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: lightseagreen; 
}

a{
    text-decoration: none;
    color: white;
    cursor: default;
}

.title{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#title {
    font-family: 'Gaegu', cursive;
}

#StoryBox{
    width: 100%;
    height: 80vh;
    display: none;
    align-items: flex-end;
}

#StoryBox ul {
    list-style-type: none;
    max-height: 75vh;
    overflow-y: hidden;
}

#StoryBox li {
    margin-left: 2vw;
    font-size: 24pt;
}

#text {
    margin-left: 2vw;
}

#PlayBox{
    width: 100%;
    height: 20vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#PlayBox button{
    margin: 2vw;
    width: 5vw;
    height: 5vh;
}

#fight{
    background-color: red;
    border: none;
    border-radius: 5px;
}

#move{
    background-color: lime;
    border: none;
    border-radius: 5px;
}