* {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	background-color: #37b6f6;
}

a {
	text-decoration: none;
	color: white;
	cursor: default;
}

.title {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

#title {
	font-family: "Gaegu", cursive;
}

#StoryBox {
	width: 100%;
	height: 81vh;
	display: none;
	align-items: flex-end;
}

#StoryBox ul {
	list-style-type: none;
	/* max-height: 80vh; */
	overflow-y: hidden;
}

#StoryBox li {
	margin-left: 2vw;
	font-size: 24pt;
}

#text {
	margin-left: 2vw;
}

#PlayBox {
	width: 100%;
	height: 18vh;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #4542b9;
	border-top: 10px double rgb(235, 235, 20);
}

#PlayBox button {
	margin: 2vw;
	width: 5vw;
	height: 5vh;
}

#btn1 {
	background-color: red;
	border: none;
	border-radius: 5px;
}

#btn1:hover {
	background-color: rgb(207, 21, 21);
	cursor: pointer;
}

#btn2 {
	background-color: lime;
	border: none;
	border-radius: 5px;
}

#btn2:hover {
	background-color: rgb(27, 216, 27);
	cursor: pointer;
}

#page2 {
	font-size: 24pt;
	display: none;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

#plotLine {
	width: 75vw;
	text-align: center;
}

#plotContinue {
	margin-top: 5vh;
	text-align: center;
}

#sound {
	display: none;
}

#soundButton {
	position: absolute;
	font-size: 38pt;
	margin-top: 2vh;
	margin-left: 95vw;
}
