body{
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
}

.StoryBox{
    width: 100%;
    height: 80vh;
    border: .1px black solid;
    background-color: lightseagreen;
}

.PlayBox{
    width: 100%;
    height: 20vh;
    border: .1px black solid;
}